body {

}
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.grid-item {
    display: inline-block;
}
.grid-item img{
    width: 600px;
}
.errorImg {
    display: none;
}