<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RedditGram</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/views/styles/tiles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 25% }'>

       <% for(var pic in pics) { %>

            <div class="grid-item">
                <img src = <%= pics[pic].data.url %> onError="this.className='errorImg'"/>
            </div>

       <% } %>
    </div>
    </body>
</html>